{% extends 'base.html' %}
{% load static %}
{% block content %}

<br>
<br>

<div class="container">
    <p><h4>{{ otro.titulo }}</h4></p>
    {% if otro.imagen %}
        <p><img src="{{ otro.imagen.url }}" alt="" class="max-width-400"></p>
    {% endif %}
    {% if user.is_authenticated and user == otro.usuario %}
        <div class="btn-group" role="group" aria-label="Botones de Acción">
            <a href="{% url 'otroedicion' otro.pk %}" class="btn btn-sm btn-primary"><i class="bi bi-pencil-fill"></i> Editar</a>
            <a href="{% url 'otroborrado' otro.pk %}" class="btn btn-sm btn-danger"><i class="bi bi-trash"></i> Eliminar</a>
        </div>
    {% endif %}
    <hr>
    <p>Consola: {{ otro.consola }}</p>
    <p>Producto: {{ otro.producto }}</p>
    <p>Descripción: {{ otro.descripcion }}</p>
    <p>Año: {{ otro.año }}</p>
    <p>Precio(US$): {{ otro.precio }}</p>
</div>

<br>
<div class="container">
    <h4>Comentarios...</h4>
    <br>
    <div class="container">
        {% if not otro.comentarios.all %}
            No hay comentarios para este producto
        {% else %}
            {% for comentario in otro.comentarios.all %}
                <p><strong>{{ comentario.nombre }}</strong></p>
                <p>{{ comentario.mensaje }}</p>
                <p><small>{{ comentario.fechaComentario }}</small></p>
                <hr>
            {% endfor %}
        {% endif %}
        <a href="{% url 'comentario' otro.pk %}">Agrega un Comentario</a>
    </div>
</div>

<style>
    .max-width-400 {
        max-width: 400px;
    }
</style>

<br>
{% endblock %}